* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

.carrossel {
    text-align: center;
}


#carrosselImagem {
    height: 450px;
    text-align: center;
}

button {
    background-color: rgb(66, 210, 30);
    padding: 10px;
}

.parte1 {
    display: flex;
    justify-content: space-around;
}



.contar {
    display: flex;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    background-color: aquamarine;
}

.planilha {
    display: flex;
}

.resultado {
    width: 450px;
}