* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

.info {
    display: flex;
    flex-direction: column;
}

input {
    padding: 10px;
    width: 300px;
    border: 1px solid black;
}

#autorLivro, h1, .cadastroBtn {
    margin: 10px 0;
}

.excluir {
    margin-top: 5px;
}

.btnCadastro {
    width: 148px;
}

#delete {
    width: 300px;
}

.principal {
    display: flex;
    margin: 0 50px;
    height: 450px;
}

.cadastro {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.carrossel {
    text-align: center;
    width: 50%;
    display: none;
}

#carrosselImagem {
    height: 400px;
    text-align: center;
}

button {
    background-color: rgb(66, 210, 30);
    padding: 10px;
    cursor: pointer;
}

.contar {
    display: flex;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
